.booking .wrapper {
    width: 100%;
    margin: 20px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    text-align: center;
    padding-top: 1px;
}

.booking form {
    width: 35%;
    margin: 0 auto;
}

.booking form.register {
    /* Register form height */
    height: 420px;
}

.booking form .text-field {
    /* Input fields; Username, Password etc. */
    border: 1px solid #a6a6a6;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 10px;
    color: #6c6c6c;
    background: #fcfcfc;
    outline: none;

}

.booking form .text-field:focus {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    color: #a6a6a6;
    background: white;
}

.booking form .button {
    /* Submit button */
    border-radius: 3px;
    border: 1px solid #336895;
    box-shadow: inset 0 1px 0 #8dc2f0;
    width: 242px;
    height: 40px;
    margin-top: 20px;

    background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
    background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);

    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #336895;

    font-size: 13px;
}

.booking form .button:hover {
    background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
    background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

.booking form .button:active {
    background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
    background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);

    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3), 0 1px 0 white;
}

.booking  {
    padding: 0;
    margin: 0;
}

.booking body {
    color: #515151;
    font-family: 'Open Sans', sans-serif;
}

.booking #bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
}

.booking #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    background-color: gray;
    opacity: 0.5;
}

.booking #container {
    position: relative;
    max-width: 218px;
    margin: 200px auto;
    background: #fff;
    padding: 20px 17px;
    text-align: center;
    border-radius: 3%;
    -webkit-box-shadow: -7px 0px 0px -2px rgba(71, 71, 71, 0.2);
    -moz-box-shadow: -7px 0px 0px -2px rgba(71, 71, 71, 0.2);
    box-shadow: -7px 0px 0px -2px rgba(71, 71, 71, 0.2);
}

.booking h1 {
    margin: 30px 0 20px 0;
    font-weight: normal;
}

.booking p {
    font-size: 0.8em;
    margin-bottom: 25px;
}

.booking button {
    width: 100%;
    border: transparent;
    border-radius: 3%;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

.booking #circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #73c242;
    border-radius: 50%;
    text-align: center;
    top: -40px;
    left: 84px;
}

.booking i {
    color: white;
    margin: 25px;
    font-size: 30px;
}
@media only screen and (max-device-width:568px) {

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus,
    textarea:focus,
    select:focus {
        font-size: 16px;
    }
}